body{
	margin: 0;
	padding: 0;
}



div{
	width:200px;
	height:200px;
	position: relative;
}

/*Rojo*/
.uno{
	background-color: #ee3e64;
	margin-top: 5%;
}

/*Azul*/
.dos{
	background-color: #4aaccf;
	left: 5%;
	margin-top: 2%;
}

/*Verde*/
.tres{
	background-color: #b7d84b;
	left: 40%;
}