body{
	margin: 0px;
	padding: 0px;
}



div{
	width:200px;
	height:200px;
	border:1px solid black;
	
}

/*Rojo*/
.uno{
	background-color: #ee3e64;
	left: 0px;
	top: 0px;
}

/*Azul*/
.dos{
	background-color: #4aaccf;
	position: absolute;	
	left:200px;
	
}

/*Verde*/
.tres{
	background-color: #b7d84b;
	left: 0px;
	bottom: 0px;
}

/*Amarillo*/
.cuatro{
	background-color: yellow;
	right: 0px;
	bottom: 0px;
}

.static{
	position: static;
}